# Core Web App
flask==2.3.3
flask-socketio==5.3.6
eventlet==0.33.3

# NLP & AI
nltk==3.8.1
scikit-learn==1.2.2      
rapidfuzz==3.6.1

# Data Handling
pandas==2.1.3

# Deployment
gunicorn==21.2.0

# Optional NLP
spacy==3.7.2

# MySQL & Auth
mysql-connector-python==8.3.0
bcrypt==4.1.2

# General Utilities
python-dotenv
requests
werkzeug
